@font-face {
    font-family: 'Lemon';
    src: url('fonts/Lemon\ Shake\ Shake.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.animate {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}
  
@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes animate-font-fade {
    0% { font-size: 0; }
    100% { font-size: 2em; }
}

body {
    font-family: Lemon !important;
}

.header-text {
    text-align: center;
    font-size: 2em;
    margin: 0;
}

.animate-text {
    animation-duration: 0.5s;
    animation-name: animate-font-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

.page {
    background-image: url('miu-background.png');
    background-size: 10em;
    background-color: #ffd6f3;
}

.logo {
    display: flex;
    justify-content: center;
    padding-top: 5em;
}

.header {
    padding-top: 1em;
    display: flex;
    justify-content: center;
}

.miu-header {
    border-radius: 100%;
}

.links {
    height: 8em;
    background-color: #e0d6ff;
}

.buttons {
    padding-top: 0.5em;
    display: flex;
    height: 10em;
    justify-content: space-evenly;
}

.button {
    height: 7em;
    width: 7em;
    border-radius: 100px;
}

.gallery-picture {
    border-radius: 100%;
}

.telegram {
    background: url('telegram.png');
    background-size: 15em;
    background-repeat: no-repeat;
    background-position: center center;
}

.dexscreener {
    background: url('OIP.jpg');
    background-size: 7em;
    background-repeat: no-repeat;
    background-position: center center;
}

.x {
    background: url('x.png ');
    background-size: 7em;
    background-repeat: no-repeat;
    background-position: center center;
}

.row {
    padding-top: 2em;
    padding-bottom: 2em;
}

.col-sm {
    display: flex;
    justify-content: center;
}

.tokenomics-text {
    font-size: 5em;
}

.tokenomic {
    display: flex;
    flex-direction: column;
    text-align: center;
    animation-name: example;
    animation-duration: 1s;
    position: relative;

}

.tokenomics-img {
    align-self: center;
}
